USE [master]
GO
/****** Object:  Database [GIS]    Script Date: 18.05.2019 17:38:11 ******/
CREATE DATABASE [GIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gisWhales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gisWhales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gisWhales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\gisWhales_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIS]
GO
USE [GIS]
GO
/****** Object:  Table [dbo].[chip]    Script Date: 18.05.2019 17:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chip](
	[id] [int] NOT NULL,
	[date_start] [date] NULL,
	[date_finish] [date] NULL,
 CONSTRAINT [PK_chip_whale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chip_location]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chip_location](
	[id] [int] NOT NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[date_located] [date] NULL,
	[chip_id] [int] NULL,
 CONSTRAINT [PK_chip_location_whale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meetings]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meetings](
	[id] [int] NOT NULL,
	[latitude] [real] NULL,
	[longitude] [real] NULL,
	[pond_name] [nchar](50) NULL,
	[date_spotted] [date] NULL,
	[scientist_id] [int] NULL,
 CONSTRAINT [PK_location_whale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scientists]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scientists](
	[id] [int] NOT NULL,
	[fullname] [nchar](100) NULL,
	[login] [nchar](50) NULL,
	[password] [nchar](50) NULL,
	[register_date] [date] NULL,
	[country] [nchar](50) NULL,
 CONSTRAINT [PK_sientists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[species]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[species](
	[id] [int] NOT NULL,
	[latin_name] [nchar](50) NULL,
	[specie_name] [nchar](50) NULL,
	[areal] [nchar](100) NULL,
	[population] [int] NULL,
	[status] [nchar](50) NULL,
	[dangers] [nchar](1000) NULL,
	[color] [nchar](10) NULL,
 CONSTRAINT [PK_species_whale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[whales]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whales](
	[id] [int] NOT NULL,
	[gender] [nchar](10) NULL,
	[age] [int] NULL,
	[weight] [float] NULL,
 CONSTRAINT [PK_groups_whale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[whales_chip]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whales_chip](
	[id] [int] NOT NULL,
	[whale_id] [int] NULL,
	[chip_id] [int] NULL,
 CONSTRAINT [PK_group_chip] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[whales_meeting]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whales_meeting](
	[id] [int] NOT NULL,
	[whale_id] [int] NULL,
	[meeting_id] [int] NULL,
 CONSTRAINT [PK_group_scientist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[whales_specie]    Script Date: 18.05.2019 17:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whales_specie](
	[id] [int] NOT NULL,
	[whale_id] [int] NULL,
	[specie_id] [int] NULL,
 CONSTRAINT [PK_specie_group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chip_location]  WITH NOCHECK ADD  CONSTRAINT [FK_chip_location_chip] FOREIGN KEY([chip_id])
REFERENCES [dbo].[chip] ([id])
GO
ALTER TABLE [dbo].[chip_location] CHECK CONSTRAINT [FK_chip_location_chip]
GO
ALTER TABLE [dbo].[meetings]  WITH NOCHECK ADD  CONSTRAINT [FK_meetings_scientists] FOREIGN KEY([scientist_id])
REFERENCES [dbo].[scientists] ([id])
GO
ALTER TABLE [dbo].[meetings] CHECK CONSTRAINT [FK_meetings_scientists]
GO
ALTER TABLE [dbo].[whales_chip]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_chip_chip_whale] FOREIGN KEY([chip_id])
REFERENCES [dbo].[chip] ([id])
GO
ALTER TABLE [dbo].[whales_chip] CHECK CONSTRAINT [FK_whales_chip_chip_whale]
GO
ALTER TABLE [dbo].[whales_chip]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_chip_groups_whale] FOREIGN KEY([whale_id])
REFERENCES [dbo].[whales] ([id])
GO
ALTER TABLE [dbo].[whales_chip] CHECK CONSTRAINT [FK_whales_chip_groups_whale]
GO
ALTER TABLE [dbo].[whales_meeting]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_meeting_meetings] FOREIGN KEY([meeting_id])
REFERENCES [dbo].[meetings] ([id])
GO
ALTER TABLE [dbo].[whales_meeting] CHECK CONSTRAINT [FK_whales_meeting_meetings]
GO
ALTER TABLE [dbo].[whales_meeting]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_meeting_whales] FOREIGN KEY([whale_id])
REFERENCES [dbo].[whales] ([id])
GO
ALTER TABLE [dbo].[whales_meeting] CHECK CONSTRAINT [FK_whales_meeting_whales]
GO
ALTER TABLE [dbo].[whales_specie]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_specie_species_whale1] FOREIGN KEY([specie_id])
REFERENCES [dbo].[species] ([id])
GO
ALTER TABLE [dbo].[whales_specie] CHECK CONSTRAINT [FK_whales_specie_species_whale1]
GO
ALTER TABLE [dbo].[whales_specie]  WITH NOCHECK ADD  CONSTRAINT [FK_whales_specie_whales1] FOREIGN KEY([whale_id])
REFERENCES [dbo].[whales] ([id])
GO
ALTER TABLE [dbo].[whales_specie] CHECK CONSTRAINT [FK_whales_specie_whales1]
GO
USE [master]
GO
